<div id="bigletter" class="col-12 letter p-5">
    <h4 class="fw-bold mb-4">{% t left.preview %}</h4>
    <p>{% t right.letter.title %}</p>
    <p class="mb-0">
        {% t right.letter.name %}: <span class="fw-bold" id="name"></span><br />
        {% t right.letter.surname %}: <span class="fw-bold" id="surname"></span><br />
        {% t right.letter.birthday %}:
        <span class="fw-bold" id="birthdate"></span><span class="fw-bold"
            id="birthmonth"></span><span class="fw-bold" id="birthyear"></span><br />
        {% t right.letter.address %}:<br />
        <span class="fw-bold" id="street"></span><br data-br="street" style="display: none;" />
        <span class="fw-bold" id="zip"></span>
        <span class="fw-bold" id="city"></span><br data-br="zip" style="display: none;" /><br />
    </p>

    <p id="ogaddress">{% t right.letter.sendtomine %}</p>

    <p class="mb-0" id="newaddress">{% t right.letter.sendalternative %}<br />

        <span class="fw-bold" id="newname"></span>
        <span class="fw-bold" id="newsurname"></span>
        <br data-br="newsurname" style="display: none;" />
        <span class="fw-bold" id="address"></span><br data-br="address" style="display: none;" />
        <span class="fw-bold" id="newstreet"></span><br data-br="newstreet"
            style="display: none;" />
        <span class="fw-bold" id="newzip"></span>
        <span class="fw-bold" id="newcity"></span><br data-br="newzip"
            style="display: none;" /><br />

    </p>

    <p class="mb-0">{% t right.letter.regards %}<br />
        <span class="fw-bold" id="id-name"></span>
        <span class="fw-bold" id="id-surname"></span>
        <span id="id-newname"></span>
        <span id="id-newsurname"></span>
        <span id="id-street"></span>
        <span id="id-newstreet"></span>
        <span id="id-address"></span>
        <span id="id-zip"></span>
        <span id="id-newzip"></span>
        <span id="id-city"></span>
        <span id="id-newcity"></span>
    </p>
</div>
